<!DOCTYPE html>
<html lang="en">
    <body>
        {% include "header.html" %}

        <!-- Page Header-->
        <header class="masthead" style="background-image: url('static/assets/img/about-bg.jpg')">
            <div class="container position-relative px-4 px-lg-5">
                <div class="row gx-4 gx-lg-5 justify-content-center">
                    <div class="col-md-10 col-lg-8 col-xl-7">
                        <div class="page-heading">
                            <h1>About Me</h1>
                            <span class="subheading">This is what I do.</span>
                        </div>
                    </div>
                </div>
            </div>
        </header>
        <!-- Main Content-->
        <main class="mb-4">
            <div class="container px-4 px-lg-5">
                <div class="row gx-4 gx-lg-5 justify-content-center">
                    <div class="col-md-10 col-lg-8 col-xl-7">
                        <div class="about-me">
                            <h2>Hello World,</h2>
                            <p>I am a self-taught Full Stack Developer. I call myself a “student of life” because I am a person with internal drive and curiosity to explore and learn new things. I believe being a Full Stack Developer is a constant learning experience, and I love to learn. Most importantly, I enjoy the process of starting a project from scratch, going through the ups and downs like a roller coaster, and seeing the final product, is a feeling like no other.

                                <br>
                                <br>My latest experience has been focused on building web applications using Python, Flask, SqlAlchemy, PostgreSQL, HTML/CSS, Javascript.
                                <br>
                                <br>Additionally, I have experience in web automation using Selenium and BeautifulSoup.
                            </p>
                        </div>

                        <hr size="1" noshade>

                    </div>
                </div>
            </div>
        </main>

        {% include "footer.html" %}
    </body>

</html>
