<!DOCTYPE html>
<html lang="en">
    <body>
    {% include "header.html" %}

        <!-- Page Header-->
        <header class="masthead" style="background-image: url('static/assets/img/home-bg.jpg')">
            <div class="container position-relative px-4 px-lg-5">
                <div class="row gx-4 gx-lg-5 justify-content-center">
                    <div class="col-md-10 col-lg-8 col-xl-7">
                        <div class="site-heading">
                            <h1>Jacy's World</h1>
                            <span class="subheading">Journey to becoming a Software Engineer</span>
                        </div>
                    </div>
                </div>
            </div>
        </header>

        <!-- Main Content-->
        <div class="container px-4 px-lg-5">
            <div class="row gx-4 gx-lg-5 justify-content-center">
                <div class="col-md-10 col-lg-8 col-xl-7">

                    <!-- Post preview-->
                    {% for blog_post in all_posts %}
                    <div class="post-preview">
                        <a href="{{ url_for('show_post', blog_id=blog_post['id']) }}">
                            <h2 class="post-title">{{ blog_post.title }}</h2>
                            <h3 class="post-subtitle">{{ blog_post.subtitle }}</h3>
                        </a>
                        <p class="post-meta">
                            Posted on
                            {{ blog_post.date }}
                            {% if user.id == 1 %}
                            <a href="{{url_for('delete', blog_id=blog_post.id) }}">✘</a>
                            {% endif %}
                        </p>
                    </div>

                    <!-- Divider-->
                    <hr class="my-4" />
                    {% endfor %}

                    <!-- New Post -->
                    <div class="clearfix">
                        {% if user.id == 1 %}
                            <a class="btn btn-primary" href="{{ url_for('create_post') }}">Create New Post</a>
                    {% endif %}
                    </div>
                  </div>
                </div>
              </div>
              <hr>



    {% include "footer.html" %}
    </body>
</html>
